@model IngredientsListViewModel

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/crud-ingredients.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Manage Ingredients
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <br />
                    <table class="table-striped text-center" align="center">
                        <thead>
                            <tr class="data-item data-head" align="center">
                                <th width="50%"></th>
                                <th width="25%"></th>
                                <th width="25%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ingredient in Model.TenIngredients)
                            {
                                <tr class="data-item">
                                    <td class="data-col dt-client">
                                        <span class="lead client-name">@ingredient.Name</span>
                                    </td>
                                    <td class="data-col dt-client">
                                        @using (Html.BeginForm("Delete", "Ingredients", new { id = ingredient.Id }, FormMethod.Post))
                                        {
                                            @Html.Hidden("Id", ingredient.Id)
                                            <button data-id="@ingredient.Id" type="submit" class="btn btn-primary btn-raised delete-item">Delete<i class="material-icons">delete</i></button>
                                        }
                                    </td>
                                    <td class="data-col dt-client">
                                        @using (Html.BeginForm("Edit", "Ingredients", new { id = ingredient.Id, @class = "newName" }, FormMethod.Post))
                                        {
                                            <asp:hiddenfield id="newName" value=""/>
                                            @Html.Hidden("Id", ingredient.Id)
                                            <button data-id="@ingredient.Id" type="submit" class="btn btn-primary btn-raised edit-item">Edit<i class="material-icons">edit</i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.PrevPage == null)
                    {
                        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">Prev</a>
                        <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">@Model.PrevPage</a>
                    }

                    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

                    @if (Model.NextPage == null)
                    {
                        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.NextPage">@Model.NextPage</a>
                        <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" id="ingredients-table" at="Next">Next</a>
                    }
                    <br />
                    <form>
                        <div class="col-md-6">
                            <div style="display:normal" id="ingrediens-div">
                                <div class="m-4">
                                    <div>
                                        <input type="text" class=" form-control" id="ingredient-name" placeholder="Name of the new ingredient..." />
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="ingrediens-to-db">Add new ingredient</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/IngredientsDeleteConfirm.js"></script>
    <script src="~/js/AddIngredientAjax.js"></script>
    <script src="~/js/IngredientsEditModal.js"></script>

}
