@model IngredientsListViewModel

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/crud-ingredients.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Manage Ingredients
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <br />
                    <table class="table-striped text-center" align="center">
                        <thead>
                            <tr align="center">
                                <th width="50%"></th>
                                <th width="25%"></th>
                                <th width="25%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ingredient in Model.TenIngredients)
                            {
                                <tr>
                                    <td>
                                        <span id="@ingredient.Id+name" value="@ingredient.Name">@ingredient.Name</span>
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("Delete", "Ingredients", new { id = ingredient.Id }, FormMethod.Post))
                                        {
                                            @Html.Hidden("Id", ingredient.Id)
                                            <button data-id="@ingredient.Id" type="submit" class="btn btn-primary btn-sm btn-block delete-item">Delete</button>
                                        }
                                    </td>
                                    <td>
                                        <button id="@ingredient.Id" type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal" onclick="showModal(this.id)">
                                            Edit
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade @ingredient.Id" id="@ingredient.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            Edit Ingredient
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <div class="form-group">
                                                                <input type="text" id="@ingredient.Id+IngName" data-val-required="true" class="form-control" placeholder="New name..." />
                                                                <span class="text-danger"></span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" value="@ingredient.Id" onclick="SaveModal(this.value)"> Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.PrevPage == null)
                    {
                        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">Prev</a>
                        <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">@Model.PrevPage</a>
                    }

                    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

                    @if (Model.NextPage == null)
                    {
                        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.NextPage">@Model.NextPage</a>
                        <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" id="ingredients-table" at="Next">Next</a>
                    }
                    <br />
                    <form>
                        <div class="col-md-6">
                            <div style="display:normal" id="ingrediens-div">
                                <div class="m-4">
                                    <div>
                                        <input type="text" class=" form-control" id="ingredient-name" placeholder="Name of the new ingredient..." />
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="ingrediens-to-db">Add new ingredient</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
        function showModal(id) {
            $(`.${id}`).modal('show');
        };
        function SaveModal(id) {
            let currentElementId = id + '+IngName';
            let input = document.getElementById(currentElementId);
            let newNameValue = $(input).val();
            let oldElementId = id + '+name';
            let oldElement = document.getElementById(oldElementId);
            $(oldElement).text(newNameValue);
            $(`.${id}`).modal('hide');

            $.ajax(

                {
                    type: "Post",
                    url: "Ingredients/Edit",

                    data: {
                        'id': id,
                        'newName': newNameValue
                    },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val(),
                    },

                })
        }
    </script>*@


@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/IngredientsDeleteConfirm.js"></script>
    <script src="~/js/AddIngredientAjax.js"></script>
    <script src="~/js/IngredientsModal.js"></script>

}
