@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

    <h4>Cocktail</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Info" class="control-label"></label>
                    <input asp-for="Info" class="form-control" />
                    <span asp-validation-for="Info" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Option one is this
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/homepage.jpg')">

</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.CocktailViewModel.Name" class="control-label"></label>
                        <input asp-for="@Model.CocktailViewModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.CocktailViewModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CocktailViewModel.Info" class="control-label"></label>
                        <input asp-for="@Model.CocktailViewModel.Info" class="form-control" />
                        <span asp-validation-for="@Model.CocktailViewModel.Info" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="@Model.CocktailViewModel.ImagePath" class="control-label"></label>
                        <input asp-for="@Model.CocktailViewModel.ImagePath" class="form-control" />
                        <span asp-validation-for="@Model.CocktailViewModel.ImagePath" class="text-danger"></span>
                    </div>
                    <div>Please select the ingredients for this cocktail from the menu below</div>
                    <div class="form-group">
                        <label></label>
                        <select multiple="multiple" asp-for="@Model.CocktailViewModel.CocktailIngredients" asp-items="@Model.AllAvailableIngredients" class="custom-select" id="list-of-ingredients" size="12">
                            <option hidden disabled selected="">Select...</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>

    section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }