@model BarViewModel
@{
    ViewData["Title"] = "Details";
}
@inject UserManager<User> UserManager 

<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================
 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)
 =========================================================
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<div class="page-header header-filter" data-parallax="true" style="background-image: url(@Model.ImagePath);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    <br />
                    @Model.Name
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="name">
                            <h2 class="title">@Model.Name</h2>
                            <h4>@Model.Address</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>@Model.Info</p>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons">camera</i> Studio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons">palette</i> Work
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                    <i class="material-icons">favorite</i> Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space d-flex justify-content-center">
                <div class="tab-pane active text-center gallery" id="studio">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="/assets/img/examples/studio-2.jpg" class="rounded">
                            <img src="/assets/img/examples/studio-2.jpg" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="/assets/img/examples/studio-5.jpg" class="rounded">
                            <img src="/assets/img/examples/studio-4.jpg" class="rounded">
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery " id="works">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="/assets/img/examples/olu-eletu.jpg" class="rounded">
                            <img src="/assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                            <img src="/assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="/assets/img/examples/mariya-georgieva.jpg" class="rounded">
                            <img src="/assets/img/examples/clem-onojegaw.jpg" class="rounded">
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery justify-content-center" id="favorite">
                    <div class="row">
                        <div class="row bootstrap snippets d-flex justify-content-center">
                            <div class="col-md-6 col-md-offset-2 col-sm-12 ">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            @* //TODO: think of a better restriction *@

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <form id="comment-to-db">
                                                    <div>
                                                        <div>
                                                            <input type="text" class="form-control" id="comment-body" placeholder="Comment Text" />
                                                            <br>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-info pull-right">Post Comment</button>
                                                </form>
                                                <div class="clearfix"></div>
                                                <hr>
                                            }

                                        <ul id="new-comment-here" class="media-list">
                                            @foreach (var item in Model.BarCommentViewModels)
                                            {
                                                <li class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="text-muted pull-right">
                                                            <small class="text-muted">
                                                                @item.CreatedOn
                                                            </small>
                                                        </span>
                                                        <strong class="text-success">@item.UserName</strong>
                                                        <p>
                                                            @item.Body
                                                        </p>
                                                    </div>
                                                </li>
                                                <br />

                                                    @*<button type="submit" class="btn btn-dark pull-right" asp-area="Member" asp-controller="BarComments" asp-action="Delete">Delete Comment</button>*@
                                                

                                            }




                                            @*<li class="media">
            <a href="#" class="pull-left">
                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@MartinoMont</strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                </p>
            </div>
        </li>
        <li class="media">
            <a href="#" class="pull-left">
                <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@LaurenceCorreil</strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                </p>
            </div>
        </li>*@
                                            @*<li class="media">
            <a href="#" class="pull-left">
                <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@JohnNida</strong>
                <p>
                    Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </li>*@
                                        </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <row>
                <div align="center">
                    <iframe src="@Model.GoogleMapsURL" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </row>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/AddComment.js"></script>
}
