@model CreateCocktailViewModel
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#exampleModal">
    Create New Cocktail
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Cocktail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" asp-area="Manager" asp-controller="Cocktails" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.CocktailViewModel.Name" class="control-label"></label>
                        <input asp-for="@Model.CocktailViewModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.CocktailViewModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CocktailViewModel.Info" class="control-label"></label>
                        <input asp-for="@Model.CocktailViewModel.Info" class="form-control" />
                        <span asp-validation-for="@Model.CocktailViewModel.Info" class="text-danger"></span>
                    </div>
                    <div id="custom-file-label" style="font-size: smaller"></div>
                    <div class="form-group">
                        <label asp-for="@Model.CocktailViewModel.File" class="btn btn-primary btn-sm"></label>
                        <input asp-for="@Model.CocktailViewModel.File" type="file">
                        <span asp-validation-for="@Model.CocktailViewModel.File"></span>
                    </div>
                    <div>Please select the ingredients for this cocktail from the menu below</div>
                    <div class="form-group">
                        <label></label>
                        <select multiple="multiple" asp-for="@Model.CocktailViewModel.CocktailIngredients" asp-items="@Model.AllAvailableIngredients" class="custom-select" id="list-of-ingredients" size="12">
                            <option hidden disabled selected="">Select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/PreviewFileImage.js"></script>