@model CocktailsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/crud-ingredients.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Cocktails
                </h1>
                <br />
                <h5>We spent countless hours of research in hundreds of bars to bring you the best and most creative cocktails on Earth. Cheers!</h5>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <br />
                        <table class="table-striped text-center" align="center">
                            <thead>
                                <tr align="center">
                                    <th width="20%">Preview</th>
                                    <th width="25%">Name</th>
                                    <th width="40%">Info</th>
                                    <th width="15%">Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cocktail in Model.TenCocktails)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@cocktail.Id">
                                                <img src=@cocktail.ImagePath height=200 width=300>
                                            </a>
                                        </td>
                                        <td>
                                            <span>@cocktail.Name</span>
                                        </td>
                                        <td>
                                            <span>@cocktail.Info</span>
                                        </td>
                                        <td>
                                            <span>@cocktail.AverageRating</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="align-content-center">
                            @if (Model.PrevPage == null)
                            {
                                <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">Prev</a>
                                <a asp-action="Index" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.PrevPage">@Model.PrevPage</a>
                            }

                            <button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

                            @if (Model.NextPage == null)
                            {
                                <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" id="ingredients-table" at="@Model.NextPage">@Model.NextPage</a>
                                <a asp-action="Index" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" id="ingredients-table" at="Next">Next</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
