@model IngredientsListViewModel

<div id="ingredienttableplaceholder">
    <table class="table-striped text-center" align="center">
        <thead>
            <tr align="center">
                <th width="50%"></th>
                <th width="25%"></th>
                <th width="25%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model.TenIngredients)
            {
                <tr>
                    <td>
                        <span id="@ingredient.Id+name" value="@ingredient.Name">@ingredient.Name</span>
                    </td>
                    <td style="padding-top: 13px">
                        @using (Html.BeginForm("Delete", "Ingredients", new { id = ingredient.Id }, FormMethod.Post))
                        {
                            @Html.Hidden("Id", ingredient.Id)
                            <button data-id="@ingredient.Id" type="submit" class="btn btn-primary btn-sm btn-block delete-item">Delete</button>
                        }
                    </td>
                    <td>
                        <!-- EDIT Modal Button -->
                        <button id="@ingredient.Id" type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#editModal" onclick="showEditModal(this.id)">Edit</button>
                        <!-- EDIT Modal -->
                        <div class="modal fade @ingredient.Id" id="@ingredient.Id" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            Edit Ingredient
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <span class="text-danger"></span>
                                                <label asp-for="@ingredient.Name" class="control-label"></label>
                                                <input asp-for="@ingredient.Name" id="@ingredient.Id+IngName" class="form-control" />
                                                <span asp-validation-for="@ingredient.Name" class="text-danger"></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" value="@ingredient.Id" onclick="SaveEditModal(this.value)">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="align-content-center">
        @if (Model.PrevPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
        }
        else
        {
            <button class="btn btn-sm btn-lighter btn-auto" id="barprevpage" value="@Model.PrevPage" onclick="prevPage()">Prev</button>
        }

        <button class="btn btn-sm btn-primary btn-auto" id="ingredientcurrpage" value="@Model.CurrPage">@Model.CurrPage</button>

        @if (Model.NextPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
        }
        else
        {
            <button class="btn btn-sm btn-lighter btn-auto" id="barnextpage" value="@Model.NextPage" onclick="nextPage()">Next</button>
        }
    </div>
</div>