@model BarCommentViewModel


    <li class="media">
        <a href="#" class="pull-left">
            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
        </a>
        <div class="media-body">
            <span class="text-muted pull-right">
                @if (Model.ModifiedOn != null)
                {
                    <small class="text-muted">
                        Edited on @Model.ModifiedOn
                    </small>
                }
                else
                {
                    <small class="text-muted">
                        @Model.CreatedOn
                    </small>
                }
            </span>
            <strong class="text-success">@Model.UserName</strong>
            <p style="text-align: left;margin-left: 16px;">
                <span id="@Model.Id+body" value="@Model.Body">@Model.Body</span>
            </p>

            @* Buttons to edit/delete comment *@
            @if (User.Identity.IsAuthenticated && Model.UserName == User.Identity.Name.Split('@')[0])
            {
                <div style="display: inline-flex;">
                    <form asp-area="Member" asp-controller="BarComments" asp-action="Delete">
                        <input name="barId" type="hidden" value="@Model.BarId"> 
                        <input name="id" type="hidden" value="@Model.Id"> 

                        <input type="submit" value="Delete" class="btn btn-outline-danger" style="width:60px;height:30px; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px;" />
                    </form>
                    @*</div>
                <div class="media-body">*@
                    <button id="@Model.Id" type="button" class="btn btn-outline-success" style="width:60px;height:30px; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px;" data-toggle="modal" data-target="#exampleModal" onclick="showModal(this.id)">
                        Edit
                    </button>
                </div>
                <!-- Modal to edit comment-->
                <div class="modal fade @Model.Id" id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    Edit Comment
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input type="text" id="@Model.Id+CommentBody" data-val-required="true" class="form-control" placeholder="New text..." />
                                        <span class="text-danger"></span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" value="@Model.Id" onclick="SaveModal(this.value)"> Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </li>


